<!-- Heredendo del template padre -->
{% extends "core/base.html" %}

<!--Carga archivos estaticos-->
{% load static %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Servicios</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'about' %">Acerca de</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'contact' %}">Contacto</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Servicios</p>
            <h1 class="text-uppercase">¿Qué te ofrecemos?</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/haircut.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">CORTE</h3>
                        <p>Transforma tu estilo con un corte personalizado. Desde un look clásico hasta las últimas tendencias.</p>
                        <span class="text-uppercase text-primary">Desde $10</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/beard-trim.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">BARBA</h3>
                        <p>Dale forma y estilo a tu barba con nuestros expertos. Desde recortes precisos hasta estilos únicos.</p>
                        <span class="text-uppercase text-primary">Desde $8</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/mans-shave.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">AFEITADO</h3>
                        <p>Experimenta la suavidad de un afeitado impecable. Nuestros profesionales cuidarán tu piel con destreza. </p>
                        <span class="text-uppercase text-primary">Desde $5</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/hair-dyeing.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">TINTURA</h3>
                        <p>Renueva tu apariencia con nuestra tintura de alta calidad. Colores modernos y duraderos.</p>
                        <span class="text-uppercase text-primary">Desde $35</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/mustache.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">BIGOTE</h3>
                        <p>Resalta tu personalidad con un bigote bien cuidado. Estilos clásicos y contemporáneos disponibles.</p>
                        <span class="text-uppercase text-primary">Desde $12</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="{% static 'core/img/stacking.png' %}" alt="">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">CEJAS</h3>
                        <p>Define tu mirada con un diseño preciso de cejas. Nuestros expertos realzarán tu expresión facial.</p>
                        <span class="text-uppercase text-primary">Desde $5</span>
                    </div>
                    <a class="btn btn-square" href=""><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Testimonios</p>
            <h1 class="text-uppercase">¡Lo que dicen nuestros clientes!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src={% static 'core/img/testimonial-1.jpg' %} alt=''>">
                <h4 class="text-uppercase">Carlos Ramírez</h4>
                <p class="text-primary">Empresario</p>
                <span class="fs-5">Desde que descubrí esta barbería, mi estilo ha mejorado enormemente. Recomiendo sus servicios a todos mis amigos.</span>
            </div>
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src={% static 'core/img/testimonial-2.jpg' %} alt=''>">
                <h4 class="text-uppercase">Luis Martínez</h4>
                <p class="text-primary">Abogado</p>
                <span class="fs-5">La calidad de los cortes y el ambiente acogedor hacen de este lugar mi primera elección para cuidar mi apariencia.</span>
            </div>
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src={% static 'core/img/testimonial-3.jpg' %} alt=''>">
                <h4 class="text-uppercase">Javier López</h4>
                <p class="text-primary">Doctor</p>
                <span class="fs-5">La atención al detalle y la habilidad de los barberos aquí son incomparables. Siempre salgo satisfecho con mi nuevo look.</span>
            </div>
        </div>      
    </div>
</div>
<!-- Testimonial End -->

{% endblock content %}